body{
  font-size: 18px;
}

/* Formatos de textos*/

#importante{
  font-weight: bold;
}


/* Formato de botones */
.boton {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.b-verde{
    background-color: #4CAF50;
}

.b-rojo{
    background-color: #D9534F;
}

/* Selecciona los elementos P y A */
p, a{
color: #777;
}

/* Selecciona los elementos A que estan dentro de un P */
p a {
  color: blue;
}
